/* .navigation_logo{
    align-self: center;
    background: url("https://www.expressvpn.com/frtr/assets/images/edsv2/logo/expressvpn-logo-red.svg") 50%/contain no-repeat;
    height: 3.5rem;
    margin-right: 1.5rem;
    width: 17.5rem;
  } */
  .main_heading{
    font-size: 8rem;
  }

  